name: Publish Packages

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  issues: none
  discussions: none
  packages: write
  pages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none
  id-token: write # Required for NPM Publishing

on:
  push:
    branches:
      - main

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: "22.x"
          registry-url: https://registry.npmjs.org/

      - name: Update npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Run lint check
        run: npm run lint

      - name: Check typescript compilation
        run: npx tsc

      - name: Run tests
        run: npm test

      - name: Build package
        run: npm run build

      - name: Publish package
        run: npm publish
